<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="orderstore" transaction-type="RESOURCE_LOCAL">

        <class>com.sweethill.orderstore.entity.Units</class>
        <class>com.sweethill.orderstore.entity.GoodsGroups</class>
        <class>com.sweethill.orderstore.entity.Owner</class>
        <class>com.sweethill.orderstore.entity.GoodNameOption</class>
        <class>com.sweethill.orderstore.entity.Goods</class>
        <class>com.sweethill.orderstore.entity.ExtUser</class>
        <class>com.sweethill.orderstore.entity.CostType</class>
        <class>com.sweethill.orderstore.entity.Cost</class>
    </persistence-unit>
</persistence>
