<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="orderstore" transaction-type="RESOURCE_LOCAL">

        <class>com.sweethill.orderstore.entity.Units</class>
        <class>com.sweethill.orderstore.entity.GoodsGroups</class>
        <class>com.sweethill.orderstore.entity.Owner</class>
        <class>com.sweethill.orderstore.entity.GoodNameOption</class>
        <class>com.sweethill.orderstore.entity.Goods</class>
        <class>com.sweethill.orderstore.entity.ExtUser</class>
        <class>com.sweethill.orderstore.entity.CostType</class>
        <class>com.sweethill.orderstore.entity.Cost</class>
        <class>com.sweethill.orderstore.entity.Stock</class>
        <class>com.sweethill.orderstore.entity.StockMovement</class>
        <class>com.sweethill.orderstore.entity.StockRecord</class>
        <class>com.sweethill.orderstore.entity.production.management.ProductSpecification</class>
        <class>com.sweethill.orderstore.entity.production.management.RowMaterial</class>
        <class>com.sweethill.orderstore.entity.production.management.OrderProduct</class>
        <class>com.sweethill.orderstore.entity.production.management.OrderProductItem</class>
        <class>com.sweethill.orderstore.entity.production.management.OrderProductMaterial</class>
        <class>com.sweethill.orderstore.entity.StatusEntity</class>
        <class>com.sweethill.orderstore.entity.StatusEntityTypes</class>
    </persistence-unit>
</persistence>
